.feed {
	margin: auto;
  max-width: 70%;
}

.card {
  margin-top: 20px;
	margin-bottom: 20px;
}

.postButtonBox {
	display: block;
	width: 100px;
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

