.cardText {
  margin-top: 20px;
	margin-bottom: 20px;
	position: relative;
}

.cardImage {
  margin-top: 20px;
	margin-bottom: 20px;
	width: 50%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.cardContent {
	width: 85%;
	min-height: 160px;
}

.contentBox {
	display: block;
	word-break: break-all;
	font-size: 16pt;
	margin-top: 20px;
	padding-bottom: 25px;
}

.buttonBox {
	display: block;
	position: absolute;
	padding-top: 20px;
	padding-right: 5%;
	top: 0;
	right: 0;
}

.votesContainer {
	text-align: center;
}

.postTitle {
	margin-top: -5px;
	font-size: 18pt;
}

.postImage {
	width: 100%;
}

.postFooter {
  position: absolute;
	bottom: 0px;
}
